.benefits{
    padding-top: 60px;
    padding-bottom: 80px;
}

.benefits__list{

}
.benefits__item{
    background-position: left top;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-top: 40px;
    grid-column: 3 span;
}
.benefits__subtitle{
    margin-bottom: 8px;
    margin: 0;
    font-family: var(--second-family);
    /* font-weight: 400; */
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-primary);
}
.benefits_description{
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}
.benefits__item--next{
    background-image: url(../img/Delivery.svg);
}
.benefits__item--made{
    background-image: url(../img/Checkmark--outline.svg);
}
.benefits__item--prices{
    background-image: url(../img/Purchase.svg);
}
.benefits__item--packaging{
    background-image: url(../img/Sprout.svg);
}
.benefits--about .benefits__item{
    padding: 48px;
    padding-top: 84px;
    background-color: var(--light-grey);
    background-position: 48px 48px;
}