.about{
    display: flex;
}
.about__info{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    padding-top: 72px;
    padding-bottom: 54px;
    padding-left: max(15px, calc((100% - var(--container-width)) / 2));
    padding-right: 50px;
    
}
.about__btn{
    margin-top: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}
.about__title{
    max-width: 514px;
    margin-bottom: 25px;
}
.about__img{
    display: block;
    flex-shrink: 0;
    width: 50%;
    object-fit: cover;
}
.about__desc{
    margin: 0;
    max-width: 514px;
    font-weight: 400;
    font-size: 16px;
    color: #505977;
}
.about__desc:not(:last-of-type){
    padding-bottom: 25px;
}
.about-reverse{
    background: var(--light-grey);
    flex-direction: row-reverse;
}
.about__btn-white{
    background-color: white;
    
}
.about-reverse .about__info{
    padding-right: max(15px, calc((100% - var(--container-width)) / 2));
    padding-left: 84px;
}