.about-hero__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 88px 48px;
    flex-wrap: wrap;
    gap: 40px;

}

.about-hero__title{
    margin: 0;
    max-width: 704px;    
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: var(--dark-primary);
}
