.brand-info__text{
    background: var(--dark-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    padding-right: 75px;
    padding-bottom: 54px;
    width: calc((100% - 16px) / 2);
}
.brand-info__content{
    display: flex;
    gap: 16px;
}
.brand-info__title{
    color: var(--white);
}
.brand-info__pic{
    display: block;
    width: 100%;
    object-fit: cover;
}
.brand-info__description{
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
}
.brand-info__btn{
    font-family: var(--font-family);
    margin-top: auto;
    text-decoration: none;
    font-size: 16px;
line-height: 150%;
}
.brand-info{
    padding: 60px 0;
}