.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 16px 32px;
    width: 170px;
    height: 56px;
    color: var(--white);
    border: none;
    cursor: pointer;
}
.btn--theme-dark{
    background: rgba(249, 249, 249, 0.15);
    color: var(--white)
}
.btn--theme-light{
    background: var(--light-grey);
    color: var(--dark-primary)
}
.btn--theme-darker{
    background: var(--dark-primary);
    color: var(--white)
}
.btn-view{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
    padding: 16px 32px;
    width: 192px;
    height: 56px;
    text-decoration: none;
}
.btn:focus {
    outline: none;
}

.btn:focus-visible {
    outline: 2px dashed var(--dark-primary);
    outline-offset: var(--outline-offset);
}