.cart {
    padding: 84px 0;
    background-color: var(--light-grey);
}

.cart__table {
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 20px;
}

.cart__content {
    background-color: white;
    padding: 72px 63px;
    padding-bottom: 52px;
}

.cart-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 7px;
}

.cart__col {
    grid-column: 6 span;
}

.cart__col--quantity {
    grid-column: 2 span;
    padding-left: 75px;
}
.cart__col--total {
    grid-column: 2 span;
    display: flex;
    justify-content: flex-end;
}

.cart__grid--heading {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--dark-primary);
    padding-bottom: 16px;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 28px;
}

.cart__col--image {
    grid-column: 1 span;
}
.cart__row {
    margin-bottom: 32px;
}
.cart__col--info {
    grid-column: 5 span;
}

.cart__title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-primary);
}

.cart__descr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark-primary);
    padding: 8px 0;
    margin: 0;
}

.cart__price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}

.cart__col--info {
    padding: 12px 24px;
    width: 232px;
}

.stepper--grey {
    background-color: var(--light-grey);

}

.cart__col--image {
    margin: 0;
}

.cart__stepper {
    padding-top: 12px;
}

.cart__total {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark-primary);
}

.cart__mobile-header {
    display: none;    
}

.cart__total {
    padding-top: 12px;
}

.cart__info {
    min-width: 240px;
}
.cart__bottom-info {
    display: flex;
    justify-content: space-between;
}

.cart__subtotal {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: var(--primary);
}

.cart__subtotal span {
    margin-left: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-align: right;
    color: var(--dark-primary);
    
}

.cart__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: var(--primary);
    margin: 0;
}

.cart__bottom-info {
    margin-bottom: 16px;
    
}
.cart__btn-wrap {
    display: flex;
    justify-content: flex-end;

}
.cart__link {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    width: 172px;
}