@media (max-width: 1280px) {
    .product-info__image img {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .burger {
        display: block;
    }
    .header__bottom {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        width: 80%;
        height: 100vh;
        background-color: var(--white);
        overflow-y: auto;
        visibility: hidden;
        transform: translateX(-100%);
        transition: visibility .3s ease, transform .3s ease;

    }
    .header__bottom--active {
        visibility: visible;
        transform: none;
    }
    .header__bottom-container {
        justify-content: flex-start;
        
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        padding: 20px 40px;
    }

    .hero__content {
        flex-direction: column;
    }
    .hero__img {
        display: none;
    }

    .benefits__list {
        row-gap: 40px
    }
    .benefits__item {
        grid-column: 6 span;
    }

    .product__item {
        grid-column: 6 span;
    }
    .product__top {
        width: 100%;
    }
    .product__top img {
        width: 100%;
    }
    .products__list {
        row-gap: var(--gap)
    }
    .footer__column {
        grid-column: 6 span;
    }
    .footer__column--big {
        grid-column: 12 span;
    }

    .footer__top {
        row-gap: 40px
    }
    .catalog__products {
        --elems: 2;
    }
    .product-info__content {
        flex-direction: column;
        gap: 40px;
    }
    .product-info__text {
        padding-top: 0;
    }
    .product-info__image img{
        width: 100%; 
        height: auto;
    }
    .cart__content {
        padding: 40px;
    }
    .cart__col--quantity {
        padding-left: 30px;
    }

    .cart__grid--heading .cart__col--quantity {
        padding-left: 30px;
    }
    .cart__col--quantity {
        padding-left: 0;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 767.98px) {

    :root {
        --gap: 16px
    }
    
    .hero {

        padding-top: 0;
        
    }
    .benefits {

        padding-top: 0;
        padding-bottom: 48px;
    }
    .products {

        padding-top: 0;
    }
    .newsletter {
        padding: 0;
    }

    .header__list {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 55px;
        gap: 44px;
        padding-top: 24px;
    }
    .header__top {
        padding: 25px 0;
    }

    .hero .container {
        padding: 0;
    }

    .hero__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        color: var(--white);
        margin-bottom: 80px;
    }

    .hero__description {
        margin: 0;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--white);
    }

    .hero__text {
        padding: 24px;
        padding-top: 40px;
    }

    .hero__link {
        margin-top: 32px;
        order: 3;
    }

    .btn {
        width: 100%;
    }

  
    .benefits__item {
        grid-column: 12 span;
    }
    
    .container {
        padding: 0 24px;
    }

    .title--centered  {
        text-align: start;
    }

    .title--mb-large {
        margin-bottom: 36px;
    }

    .benefits__description{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--dark-primary);
    
    }
    .benefits .title {
        font-size: 20px;
        line-height: 140%;
        width: 270px;
    }

    .benefits .subtitle{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-primary);
    }

    .title--large {
        font-size: 20px;
    }

    .title--mb-small {
        margin-bottom: 20px;
    }
    .product .product__image {
        height: 200px;
    }

    .product {
        gap: 16px
    }

    .products__list--mobile-slider {
        display: flex;
        overflow-x: auto;
        width: calc(100% + 24px);
    }
    .products--pop .product__item {
        width: 200px;
        flex-shrink: 0;
    }

    .centered {
        margin-left: 24px;
        margin-right: 24px;
    }

    .newsletter__content {
        align-items: flex-start;
    }

    .newsletter__desc {
        text-align: start;
        font-size: 14px;
        line-height: 150%;
        padding: 0;
        margin-bottom: 0;
    }

    .newsletter__form {
        padding: 0;
        padding-top: 64px;
        width: 100%;
    }

    .newsletter .form__btn {
        padding: 16px 32px;
        width: 140px;
    }

    .about {
        flex-direction: column;
    }

    .about__info {
        width: 100%;
        padding: 48px 24px;
    }

    .about__img {
        width: 100%;
        height: 358px;
    }

    .about__btn {
        margin-top: 80px;
    }

    .about__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var(--dark-primary);
        width: 270px;
    }

    .about__desc {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #505977;
    }

    .footer__link {
        font-size: 14px;

    }

    .social__hide {
        display: none;
    }

    .footer__copyright {
        font-size: 14px;
    }
    
    .footer__botom {
        justify-content: center;
    }

    footer .footer__form .form__btn {
        padding: 16px 32px;
        width: 170px;
    }
}

