@media (max-width: 1280px) {
    .product-info__image img {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .burger {
        display: block;
    }
    .header__bottom {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        width: 80%;
        height: 100vh;
        background-color: var(--white);
        overflow-y: auto;
        visibility: hidden;
        transform: translateX(-100%);
        transition: visibility .3s ease, transform .3s ease;

    }
    .header__bottom--active {
        visibility: visible;
        transform: none;
    }
    .header__bottom-container {
        justify-content: flex-start;
        
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        padding: 20px 40px;
    }

    .hero__content {
        flex-direction: column;
    }
    .hero__img {
        display: none;
    }

    .benefits__list {
        row-gap: 40px
    }
    .benefits__item {
        grid-column: 6 span;
    }

    .product__item {
        grid-column: 6 span;
    }
    .product__top {
        width: 100%;
    }
    .product__top img {
        width: 100%;
    }
    .products__list {
        row-gap: var(--gap)
    }
    .footer__column {
        grid-column: 6 span;
    }
    .footer__column--big {
        grid-column: 12 span;
    }

    .footer__top {
        row-gap: 40px
    }
    .catalog__products {
        --elems: 2;
    }
    .product-info__content {
        flex-direction: column;
        gap: 40px;
    }
    .product-info__text {
        padding-top: 0;
    }
    .product-info__image img{
        width: 100%; 
        height: auto;
    }
    .cart__content {
        padding: 40px;
    }
    .cart__col--quantity {
        padding-left: 30px;
    }

    .cart__grid--heading .cart__col--quantity {
        padding-left: 30px;
    }
    .cart__col--quantity {
        padding-left: 0;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 767.98px) {

    :root {
        --gap: 16px
    }
    
    .hero {

        padding-top: 0;
        
    }
    .benefits {

        padding-top: 0;
        padding-bottom: 48px;
    }
    .products {

        padding-top: 0;
    }
    .newsletter {
        padding: 0;
    }

    .header__list {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 55px;
        gap: 44px;
        padding-top: 24px;
    }
    .header__top {
        padding: 25px 0;
    }

    .hero .container {
        padding: 0;
    }

    .hero__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        color: var(--white);
        margin-bottom: 80px;
    }

    .hero__description {
        margin: 0;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--white);
    }

    .hero__text {
        padding: 24px;
        padding-top: 40px;
    }

    .hero__link {
        margin-top: 32px;
        order: 3;
    }

    .btn {
        width: 100%;
    }

  
    .benefits__item {
        grid-column: 12 span;
    }
    
    .container {
        padding: 0 24px;
    }

    .title--centered  {
        text-align: start;
    }

    .title--mb-large {
        margin-bottom: 36px;
    }

    .benefits__description{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--dark-primary);
    
    }
    .benefits .title {
        font-size: 20px;
        line-height: 140%;
        width: 270px;
    }

    .benefits .subtitle{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-primary);
    }

    .title--large {
        font-size: 20px;
    }

    .title--mb-small {
        margin-bottom: 20px;
    }
    .product .product__image {
        height: 200px;
    }

    .product {
        gap: 16px
    }

    .products__list--mobile-slider {
        display: flex;
        overflow-x: auto;
        width: calc(100% + 24px);
    }
    .products--pop .product__item {
        width: 200px;
        flex-shrink: 0;
    }

    .centered {
        margin-left: 24px;
        margin-right: 24px;
    }

    .newsletter__content {
        align-items: flex-start;
    }

    .newsletter__desc {
        text-align: start;
        font-size: 14px;
        line-height: 150%;
        padding: 0;
        margin-bottom: 0;
    }

    .newsletter__form {
        padding: 0;
        padding-top: 64px;
        width: 100%;
    }

    .newsletter .form__btn {
        padding: 16px 32px;
        max-width: 120px;
    }
    .form__input {
        width: 100%;
    }

    .newsletter {
        background-color: var(--white);
    }

    .about {
        flex-direction: column;
    }

    .about__info {
        width: 100%;
        padding: 48px 24px;
    }

    .about__img {
        width: 100%;
        height: 358px;
    }

    .about__btn {
        margin-top: 80px;
    }

    .about__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var(--dark-primary);
        width: 270px;
    }

    .about__desc {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #505977;
    }

    .footer__link {
        font-size: 14px;

    }

    .social {
        display: none;
    }

    .footer__copyright {
        font-size: 14px;
    }
    
    .footer__botom {
        justify-content: center;
    }

    footer .footer__form .form__btn {
        padding: 16px 32px;
        width: 170px;
    }

    footer {
        padding-top: 40px;
    }

    .footer__top {
        padding-bottom: 16px;
    } 

    .about-hero__content {
        padding: 32px 0;
    }

    .about-hero__title {
        font-size: 34px;
        line-height: 140%;
    }
    .notice {
        padding: 8px 16px;
        height: 54px;
        gap: 8px;
        justify-content: flex-start;
    }

    .notice__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--white);
        max-width: 295px;
    }

    .brand-info {
        padding: 32px 0;
        
    }
    .brand-info__content {
        flex-direction: column;
        gap: 24px;
    }

    .brand-info__text {
        width: 100%;
        padding: 36px 30px;
    }

    .brand-info__description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--white);
        margin-bottom: 56px;
    }

    .brand-info__title {
        margin-bottom: 12px;
    }

    .brand-info__pic {
        height: 260px;
    }

    .about__img {
        
    }

    .about {
        flex-direction: column-reverse;
        gap: 48px;
        margin-bottom: 60px;
    }

    .about-reverse .about__info {
        padding: 0 24px;
    }

    .about .about__title {
        margin-top: 0;
        margin-bottom: 12px;
    }

    .about__btn {
        margin-top: 48px;
    }
    
    .benefits--about .benefits__item {
        padding: 24px;
        padding-top: 72px;
        padding-bottom: 36px;
        background-position: 24px 36px;
    }
    
    .benefits__list {
        row-gap: 26px;
    }

    .newsletter__content {
        margin-bottom: 38px;
    }

    .inner-hero__content {
        justify-content: center;
        min-height: 146px;
        padding-bottom: 32px;
    }
    
    .catalog__column {
        grid-column: 12 span;
    }
    .catalog__wrapper {
        grid-column: 12 span;
    }

    .catalog__mobile-btn {
        display: inline-flex;
        margin-bottom: 20px;
    }
    .filters {
        display: none;
        margin-bottom: 32px;
    }

    .filters--active {
        display: flex;
    }

    .catalog__mobile-btn--active  svg{
        transform: rotate(180deg);
    }
    .catalog__managing-btns {
        display: flex;
        gap: 16px;
    }

    .inner-hero {
        min-height: 146px;
    }

    .product-info {
        padding-top: 0;
    }

    .product-info .container {
        padding: 0;
    }

    .product-info__text {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product-info__image img {
        height: 380px;
    }

    .product-info .stepper {
        width: 100%;
    }

    .product-info__content {
        gap: 28px;
    }

    .product-info__title {
        font-size: 24px;
        line-height: 140%;
    }

    .product-info__price {
        font-size: 20px;
        line-height: 140%;
    }

    .product-info__btns {
        flex-direction: column-reverse;
        gap: 14px;
    }

    .product-info__btn-save {
        order: 0;
    }

    .cart__content {
        background-color: var(--light-grey);
        padding: 0;
    }

    .cart__grid--heading {
        display: none;
    }

    .cart__mobile-header {
        display: block;
        text-align: start;    
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: var(--dark-primary);
        padding: 34px 0;
    }

    .cart {
        padding: 0;
    }

    .cart__col--total {
        display: none;
    }

    .cart-grid {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 10px;
        grid-template-rows: 105px 55px;
        row-gap: 10px;
    }

    .cart__col--image {
        grid-column: 5 span;
    }
    .cart__image {
        min-width: 100%;
        height: 166px;
        display: block;
    }

    .cart__col--info {
        grid-column: 7 span;
        padding: 0;
        width: 100%;
        padding-left: 14px;
    }

    .cart__col--quantity {
        grid-column: 6 / 7 span;
        padding-left: 14px;
    }

    .cart__info {
        min-width: 100%;
    }

    .cart .stepper {
        background-color: var(--white);
    }

    .cart__link {
        margin-top: 36px;
        margin-bottom: 50px;
    }

    .cart__bottom-info {
        flex-direction: column-reverse;
    }

    .cart__bottom-info {
        margin-bottom: 0;
    }

    .cart__table {
        border-bottom: 1px solid var(--border-grey);
    }
}

